.story-container {
    display: flex;
    justify-content: center;
    height: max-content;
}

.employee-menu-container {
    margin-top: 150px;
    background-color: #886c56;
    width: 80vw;
    height: fit-content;
    border-radius: 50px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    
}

.main-title {
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 50px;
    font-size: 90px;
    width: 100%;
    color: #433026;
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
}

.title2 {
    text-align: end;
    padding-left: 30px;
    font-size: 50px;
    color: #433026;
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
}

.title2 > p {
    text-align: end;
    font-size: 30px;
    color: white;
    font-family: "Hanken Grotesk", serif;
    font-weight: 300;
    color: white;
    padding-right: 50px;
    width: 830px;
}


.title3 {
    text-align: start;
    padding-left: 30px;
    font-size: 50px;
    color: #433026;
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
}

.title3 > p {
    text-align: start;
    font-size: 30px;
    color: white;
    font-family: "Hanken Grotesk", serif;
    font-weight: 300;
    color: white;
    padding-right: 50px;
    width: 830px;
}

.employee-container img {
    height: 500px;
    width: 500px;
    -webkit-border-radius: 60px;
    border-radius: 20%;
}

.employee-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.employee-container2 img {
    height: 500px;
    width: 500px;
    -webkit-border-radius: 220%;
    border-radius: 20%;
}

.employee-container2 {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}