
.carousel {
    display: flex;
    height: 550px;
    width: 100%;
    max-width: 70%;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-card {
    display: flex;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.847);
    box-shadow: 0px 0px 11px 3px rgb(0, 0, 0, 0.847);
    opacity: 0;
    pointer-events: none;
    transform: scale(.8);
    transition: 0.5s ease-in-out;
}

.carousel-card-active {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}


.card-image {
    width: 100%;
    object-fit: cover;
}

.card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    padding: 40px 30px;
    align-items: center;
    justify-content: center;
}

.card-title {
    background-color: #0f3f2e;
    border-radius: 15px;
    color: white;
    font-size: 60px;
    text-align: center;
    width: 50%;
    object-fit: cover;
}

.carousel-arrow-left, .carousel-arrow-right {
    position: absolute;
    font-size: 40px;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}

.carousel-arrow-left {
    left: 15px;
    font-size: 115px;
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(95%) sepia(8%) saturate(1542%) hue-rotate(318deg) brightness(93%) contrast(92%);
}

.carousel-arrow-right {
    right: 15px;
    font-size: 115px;
    filter: brightness(0) saturate(100%) invert(95%) sepia(8%) saturate(1542%) hue-rotate(318deg) brightness(93%) contrast(92%);
}

.carousel-pagination {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}
.pagination-dot {
    height: 20px;
    width: 20px;
    background-color: #e5ccb2;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.pagination-dot:hover {
    transform: scale(1.2);
}

.pagination-dot-active {
    background-color: #0f3f2e;
}


@media (min-width: 1025px) and (max-width: 1200px){

    .carousel {
        height: 350px;
    }

    .pagination-dot {
        height: 10px;
        width: 10px;
        margin-left: 10px;
    }

    
    .carousel-arrow-left {
        left: 15px;
        font-size: 70px;
    }

    .carousel-arrow-right {
        right: 15px;
        font-size: 70px;
    }

    .card-title {
        font-size: 30px;
        width: 50%;
    }
}