@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

/*Top header */



.header {
    height: fit-content;
    width: 100%; 
}

.container {
    background-image: url(../assets/kahvikuppi.jpg);
    background-position: 50% 45%;
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container > img {
    height: 200px;
    width: 225px;
    padding-left: 50px; 
    padding-bottom: 100px;  
}

.button-container {
    display: flex;
    flex-direction: row;
}

.button-container .login {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items:end;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.button-container img {
    height: 55px;
    width: 60px;
    padding-bottom: 5px;
}

.button-container button div {
    font-size: 30px;
    font-family: "Hanken Grotesk", serif;
    font-weight: bolder;
    color: white;
    padding-left: 10px;
}

.button-container a {
    cursor: pointer;
    text-decoration: none;
    text-decoration-line: none;
}


.FI {
    margin-left: 2rem;
    width: 50px;
    font-size: 40px;
    font-family: "Hanken Grotesk", serif;
    font-weight: 500;
    color: white;
    background-color: #886c56;
    border-radius: 15px;
    border: none;
}

.FI:hover {
    background-color: #0f3f2e;
    box-shadow: 5px 10px 8px black;
}

.EN {
    margin-left: 1rem;
    width: 70px;
    font-size: 40px;
    font-family: "Hanken Grotesk", serif;
    font-weight: 500;
    color: white;
    background-color: #886c56;
    margin-right: 2rem;
    border-radius: 15px;
    border: none;
}

.ON {
    background-color: #0f3f2e;
}

.EN:hover {
    background-color: #0f3f2e;
    box-shadow: 5px 10px 8px black;
}

.login:hover {
    filter: invert(41%) sepia(51%) saturate(253%) hue-rotate(344deg) brightness(95%) contrast(89%);
    
}

/*Bottom header */

.bottom-header {
    background-color: #433026;
    height: 200px;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bottom-header-name {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 2rem;
} 

.bottom-header a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-decoration-line: none;
}


.bottom-header-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
    height: 200px;
    width: 400px;
    cursor: pointer;
    padding-right: 20px;
}

.bottom-header-cart > img {
    height: 75px;
    width: 75px;
}

.price {
    font-size: 2rem;
    text-align: end;
    color: white;
    font-weight: 200;
    padding-top: 2rem;
    width: 150px;
}

.item-amount {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    font-weight: 300;
    padding-top: 0;
    padding-bottom: 75px;
}

.amount-color {
    color: white;
}

.bottom-header-cart:hover {
    filter: invert(41%) sepia(51%) saturate(253%) hue-rotate(344deg) brightness(95%) contrast(89%);
}


.bottom-shadow {
    background-color: #433026bf;
    width: 100%;
    height: 20px;
}


/*1201px and more —  Extra large screens, TV*/
@media (min-width: 1980px) and (max-width: 2560px){

}

/*1025px — 1200px: Desktops, large screens*/
@media (min-width: 1280px) and (max-width: 1920px){
    /*Header*/

    .container {
        height: 300px;   
    }

    .container > img {
        height: 150px;
        width: 175px;
        padding-left: 50px; 
        padding-bottom: 50px;  
    }

    .button-container {
       width: fit-content;
    }

    .button-container img {
        height: 45px;
        width: 50px;
    }
    .button-container button div {
       font-size: 60px;
       padding-bottom: 7px;
    }

    .FI {
        margin-left: 1rem;
        width: 40px;
        font-size: 30px;
    }

    .EN {
        margin-left: 1rem;
        width: 50px;
        font-size: 30px;
        margin-right: 1rem;
    }


    /*header bottom*/
    h1{
        font-size: 1.5em;
    }   
    
}
